@import url(./fonts.css);

.page {
    margin: 4% 1%;
    font-family: 'Zhizn', Arial, Helvetica, sans-serif;
    background: linear-gradient(#2D607C, #978D84, #F2BE47, #F7AC11, #82953E);
    background-attachment: fixed;
    color: #363636;
}

.header {
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    align-items: center;
    justify-content: center;
}

.game__title {
    text-align: center;
    margin: 50px auto 20px auto;
}

.game__difficulty-button {
    width: 150px;
    height: 50px;
    font-family: 'Zhizn', Arial, Helvetica, sans-serif;
    font-size: 25px;
    border: 2px solid #48494B;
    border-radius: 50px;
    margin: 0 0 10px 0;
    padding: 4px 0 0 0;
    color: #48494B;
    background-color: #F5F0E5;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.game__difficulty-button:hover {
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    background: linear-gradient(#DCCEBA, #978D84);
    color: #F5F0E5;
}

.game__board {
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 700px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game__restart-button {
    width: 250px;
    height: 50px;
    font-family: 'Zhizn', Arial, Helvetica, sans-serif;
    font-size: 25px;
    border: 2px solid #48494B;
    border-radius: 50px;
    margin: 0;
    padding: 4px 0 0 0;
    color: #48494B;
    background-color: #F5F0E5;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.game__restart-button:hover {
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    background: linear-gradient(#DCCEBA, #978D84);
    color: #F5F0E5;
}

.game__card {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#2D607C, #578096);
    border-radius: 5px;
    transition: all 0.2s linear;
    margin: 1%;
}

.game__card i {
    font-size: 40px;
    display: none;
}

.game__card i+i {
    display: block;
}

.game__card.open {
    background: linear-gradient(#F7AC11, #F2BE47) !important;
    transform: perspective(100px) rotateY(180deg);
}

.game__card.open i {
    display: block;
}

.game__card.open i+i {
    display: none;
}

.game__card.success {
    background: linear-gradient(#82953E, #7A972C) !important;
    /* transform: scale(.9); */
}

.game__card:hover {
    background: linear-gradient(#DCCEBA, #978D84);
}
