@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.game__timer {
  text-align: center;
  margin-bottom: 20px;
  width: 350px;
  height: 20px;
}

.page {
  margin: 4% 1%;
  font-family: "Zhizn", Arial, Helvetica, sans-serif;
  background: linear-gradient(#2d607c, #978d84, #f2be47, #f7ac11, #82953e);
  background-attachment: fixed;
  color: #363636;
}

.header {
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  align-items: center;
  justify-content: center;
}

.game__title {
  text-align: center;
  margin: 50px auto 20px auto;
}

.game__difficulty-button {
  width: fit-content;
  height: 50px;
  font-family: "Zhizn", Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 2px solid #48494b;
  border-radius: 50px;
  margin: 0 0 10px 0;
  padding: 13px 15px 10px 15px;
  color: #48494b;
  background-color: #f5f0e5;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.game__difficulty-button:hover {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background: linear-gradient(#dcceba, #978d84);
  color: #f5f0e5;
}

.game__board {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 700px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game__restart-button {
  width: fit-content;
  height: 50px;
  font-family: "Zhizn", Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 2px solid #48494b;
  border-radius: 50px;
  margin: 0;
  padding: 13px 15px 10px 15px;
  color: #48494b;
  background-color: #f5f0e5;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.game__restart-button:hover {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background: linear-gradient(#dcceba, #978d84);
  color: #f5f0e5;
}

.game__card {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#2d607c, #578096);
  border-radius: 5px;
  transition: all 0.2s linear;
  margin: 1%;
}

.game__card i {
  font-size: 40px;
  display: none;
}

.game__card i + i {
  display: block;
}

.game__card.open {
  background: linear-gradient(#f7ac11, #f2be47) !important;
  transform: perspective(100px) rotateY(180deg);
}

.game__card.open i {
  display: block;
}

.game__card.open i + i {
  display: none;
}

.game__card.success {
  background: linear-gradient(#82953e, #7a972c) !important;
  /* transform: scale(.9); */
}

.game__card:hover {
  background: linear-gradient(#dcceba, #978d84);
}
